body {
    background-color: #6600ff;
    font-family: sans-serif;
    font-weight:bold;
    font-size:25px;
    color:black;
    margin-left: 10px;
}

#button{
    color:white;
    background-color: ;green
    font-size: 20px;
    padding: 5px;
}